{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a web UI for my Facial Emotion Recognition Model</p>
    <hr class="my-4">
    <p>I am doing this project with Boongg (© 2018 - 2019 Onepoint Bike Services Pvt Ltd. All Rights Reserved.) under the guidance of Mr.Jitendra and Mr. Yogesh</p>
    <a class="btn btn-danger btn-lg" href="/whatemotion" role="button">Live Demonstration</a>
  </div>

{% endblock %}